<img src="TechLabs.png">

<h2>Please enter your full name here:</h2>


<p> This exam will test your knowledge in Data Science. </p>
<p> We will test the following: </p>
    
- Basic knowledge in Data Science
- How to manipulate data
- How to clean data
- Further data analysis

<h2>1. Basic Knowledge Test</h2>

A) Create a dictionary and a list.

In [2]:
savings=[130, 70, 85, 55]
month=["sep", "oct", "nov", "dec"]
monthly_savings={"sep": 130, "oct":70, "nov":85, "dec":55}

B) Create your own array containing multiple lists (at least 5 rows and 4 columns).

In [18]:
import numpy as np
np_bric=np.array([[1795, 1280, 2289, 11221],
               [2052, 1579, 2652, 12062],
              [1867, 1657, 2718, 13368],
              [1847, 1637, 2935,14140],
              [1893, 1657, 3202, 15269]])
print(np_bric)

C) Convert your previous array into a pandas dataframe.

In [19]:
import pandas as pd
df = pd.DataFrame(np_bric)
print(df)

 D) Please write a function that will start with the number 2 and will add 3 as long as the number is under 25.

In [15]:
def func():
    x = 2
while x < 25:
    x = x + 3
    print(x)
    
func()

5
8
11
14
17
20
23
26

E) Briefly explain what a lambda function is and its benefits over using regular functions.

In [30]:
"A lambda function can reduce and simplify a complicated function."+" One can also use lambda function as an anonymous function inside another function."

'A lambda function can reduce and simplify a complicated function. One can also use lambda function as an anonymous function inside another function.'

F) What is the difference between relational and non-relational databases?

In [22]:
"relational databases are structured, while non-relational databases are document-oriented."

'relational databases are structured, while non-relational databases are document-oriented.'

<h2>2. Manipulating Data </h2>

Dataset used: "AB_NYC_2019.csv" </p>
In this part of the exam you will have to play around with a dataset and display subsets of the data.

In [76]:
# Place all packages you need here
import pandas as pd

A) Load "AB_NYC_2019.csv",  drop all null values, and name it "df".

In [85]:
df = pd.read_csv('AB_NYC_2019.csv')
df = df.dropna()
print(df)

             id                                              name    host_id  \
0          2539                Clean & quiet apt home by the park       2787
1          2595                             Skylit Midtown Castle       2845
3          3831                   Cozy Entire Floor of Brownstone       4869
4          5022  Entire Apt: Spacious Studio/Loft by central park       7192
5          5099         Large Cozy 1 BR Apartment In Midtown East       7322
...         ...                                               ...        ...
48782  36425863        Lovely Privet Bedroom with Privet Restroom   83554966
48790  36427429                          No.2 with queen size bed  257683179
48799  36438336                                   Seas The Moment  211644523
48805  36442252                     1B-1B apartment near by Metro  273841667
48852  36455809           Cozy Private Room in Bushwick, Brooklyn   74162901

         host_name neighbourhood_group    neighbourhood  latitude  longitude  \
0             John            Brooklyn       Kensington  40.64749  -73.97237
1         Jennifer           Manhattan          Midtown  40.75362  -73.98377
3      LisaRoxanne            Brooklyn     Clinton Hill  40.68514  -73.95976
4            Laura           Manhattan      East Harlem  40.79851  -73.94399
5            Chris           Manhattan      Murray Hill  40.74767  -73.97500
...            ...                 ...              ...       ...        ...
48782        Rusaa           Manhattan  Upper East Side  40.78099  -73.95366
48790         Hâ€†Ai              Queens         Flushing  40.75104  -73.81459
48799          Ben       Staten Island      Great Kills  40.54179  -74.14275
48805       Blaine               Bronx       Mott Haven  40.80787  -73.92400
48852    Christine            Brooklyn         Bushwick  40.69805  -73.92801

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room    149               1                  9  2018-10-19
1      Entire home/apt    225               1                 45  2019-05-21
3      Entire home/apt     89               1                270  2019-07-05
4      Entire home/apt     80              10                  9  2018-11-19
5      Entire home/apt    200               3                 74  2019-06-22
...                ...    ...             ...                ...         ...
48782     Private room    129               1                  1  2019-07-07
48790     Private room     45               1                  1  2019-07-07
48799     Private room    235               1                  1  2019-07-07
48805  Entire home/apt    100               1                  2  2019-07-07
48852     Private room     30               1                  1  2019-07-08

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.21                               6               365
1                   0.38                               2               355
3                   4.64                               1               194
4                   0.10                               1                 0
5                   0.59                               1               129
...                  ...                             ...               ...
48782               1.00                               1               147
48790               1.00                               6               339
48799               1.00                               1                87
48805               2.00                               1                40
48852               1.00                               1                 1

[38821 rows x 16 columns]

B) Within the dataframe "df", permanently rename the column "name" to "listing_name".

In [86]:
df=df.rename(columns = {'name':'listing_name'})
print(df)

             id                                      listing_name    host_id  \
0          2539                Clean & quiet apt home by the park       2787
1          2595                             Skylit Midtown Castle       2845
3          3831                   Cozy Entire Floor of Brownstone       4869
4          5022  Entire Apt: Spacious Studio/Loft by central park       7192
5          5099         Large Cozy 1 BR Apartment In Midtown East       7322
...         ...                                               ...        ...
48782  36425863        Lovely Privet Bedroom with Privet Restroom   83554966
48790  36427429                          No.2 with queen size bed  257683179
48799  36438336                                   Seas The Moment  211644523
48805  36442252                     1B-1B apartment near by Metro  273841667
48852  36455809           Cozy Private Room in Bushwick, Brooklyn   74162901

         host_name neighbourhood_group    neighbourhood  latitude  longitude  \
0             John            Brooklyn       Kensington  40.64749  -73.97237
1         Jennifer           Manhattan          Midtown  40.75362  -73.98377
3      LisaRoxanne            Brooklyn     Clinton Hill  40.68514  -73.95976
4            Laura           Manhattan      East Harlem  40.79851  -73.94399
5            Chris           Manhattan      Murray Hill  40.74767  -73.97500
...            ...                 ...              ...       ...        ...
48782        Rusaa           Manhattan  Upper East Side  40.78099  -73.95366
48790         Hâ€†Ai              Queens         Flushing  40.75104  -73.81459
48799          Ben       Staten Island      Great Kills  40.54179  -74.14275
48805       Blaine               Bronx       Mott Haven  40.80787  -73.92400
48852    Christine            Brooklyn         Bushwick  40.69805  -73.92801

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room    149               1                  9  2018-10-19
1      Entire home/apt    225               1                 45  2019-05-21
3      Entire home/apt     89               1                270  2019-07-05
4      Entire home/apt     80              10                  9  2018-11-19
5      Entire home/apt    200               3                 74  2019-06-22
...                ...    ...             ...                ...         ...
48782     Private room    129               1                  1  2019-07-07
48790     Private room     45               1                  1  2019-07-07
48799     Private room    235               1                  1  2019-07-07
48805  Entire home/apt    100               1                  2  2019-07-07
48852     Private room     30               1                  1  2019-07-08

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.21                               6               365
1                   0.38                               2               355
3                   4.64                               1               194
4                   0.10                               1                 0
5                   0.59                               1               129
...                  ...                             ...               ...
48782               1.00                               1               147
48790               1.00                               6               339
48799               1.00                               1                87
48805               2.00                               1                40
48852               1.00                               1                 1

[38821 rows x 16 columns]

C) Drop the column host_id. Save the new dataframe again under the name "df".

In [87]:
df = df.drop(columns = "host_id")
print(df)

             id                                      listing_name  \
0          2539                Clean & quiet apt home by the park
1          2595                             Skylit Midtown Castle
3          3831                   Cozy Entire Floor of Brownstone
4          5022  Entire Apt: Spacious Studio/Loft by central park
5          5099         Large Cozy 1 BR Apartment In Midtown East
...         ...                                               ...
48782  36425863        Lovely Privet Bedroom with Privet Restroom
48790  36427429                          No.2 with queen size bed
48799  36438336                                   Seas The Moment
48805  36442252                     1B-1B apartment near by Metro
48852  36455809           Cozy Private Room in Bushwick, Brooklyn

         host_name neighbourhood_group    neighbourhood  latitude  longitude  \
0             John            Brooklyn       Kensington  40.64749  -73.97237
1         Jennifer           Manhattan          Midtown  40.75362  -73.98377
3      LisaRoxanne            Brooklyn     Clinton Hill  40.68514  -73.95976
4            Laura           Manhattan      East Harlem  40.79851  -73.94399
5            Chris           Manhattan      Murray Hill  40.74767  -73.97500
...            ...                 ...              ...       ...        ...
48782        Rusaa           Manhattan  Upper East Side  40.78099  -73.95366
48790         Hâ€†Ai              Queens         Flushing  40.75104  -73.81459
48799          Ben       Staten Island      Great Kills  40.54179  -74.14275
48805       Blaine               Bronx       Mott Haven  40.80787  -73.92400
48852    Christine            Brooklyn         Bushwick  40.69805  -73.92801

             room_type  price  minimum_nights  number_of_reviews last_review  \
0         Private room    149               1                  9  2018-10-19
1      Entire home/apt    225               1                 45  2019-05-21
3      Entire home/apt     89               1                270  2019-07-05
4      Entire home/apt     80              10                  9  2018-11-19
5      Entire home/apt    200               3                 74  2019-06-22
...                ...    ...             ...                ...         ...
48782     Private room    129               1                  1  2019-07-07
48790     Private room     45               1                  1  2019-07-07
48799     Private room    235               1                  1  2019-07-07
48805  Entire home/apt    100               1                  2  2019-07-07
48852     Private room     30               1                  1  2019-07-08

       reviews_per_month  calculated_host_listings_count  availability_365
0                   0.21                               6               365
1                   0.38                               2               355
3                   4.64                               1               194
4                   0.10                               1                 0
5                   0.59                               1               129
...                  ...                             ...               ...
48782               1.00                               1               147
48790               1.00                               6               339
48799               1.00                               1                87
48805               2.00                               1                40
48852               1.00                               1                 1

[38821 rows x 15 columns]

D) Only show listings with a price higher than the average price. Sort the dataframe by price in an ascending order.

In [111]:
mean = df["price"].mean()
f = df["price"] > mean
list_unsorted = df[f]
list_sorted = list_unsorted.sort_values("price", ascending=True)
print(list_sorted)

             id                                       listing_name host_name  \
16776  13395955                Adorable Prospect Heights 1 Bedroom     Nancy
15285  12234139                  1 Bedroom Outside Columbus Circle  Mckenzie
15774  12755571                   Studio in the heart of Manhattan      Nina
37425  29699681      Sunny Penthouse with Williamsburg Bridge view     Laura
41791  32494256                Newly renovated 2 Bedroom Apartment  Victoria
...         ...                                                ...       ...
30268  23377410  Beautiful/Spacious 1 bed luxury flat-TriBeCa/Soho       Rum
12342   9528920                Quiet, Clean, Lit @ LES & Chinatown       Amy
6530    4737930                                 Spanish Harlem Apt     Olson
9151    7003697                Furnished room in Astoria apartment  Kathrine
17692  13894339    Luxury 1 bedroom apt. -stunning Manhattan views      Erin

      neighbourhood_group     neighbourhood  latitude  longitude  \
16776            Brooklyn  Prospect Heights  40.67649  -73.96697
15285           Manhattan   Upper West Side  40.77116  -73.98796
15774           Manhattan           Midtown  40.75227  -73.97351
37425            Brooklyn      Williamsburg  40.71093  -73.96407
41791            Brooklyn      Clinton Hill  40.68771  -73.96304
...                   ...               ...       ...        ...
30268           Manhattan           Tribeca  40.72197  -74.00633
12342           Manhattan   Lower East Side  40.71355  -73.98507
6530            Manhattan       East Harlem  40.79264  -73.93898
9151               Queens           Astoria  40.76810  -73.91651
17692            Brooklyn        Greenpoint  40.73260  -73.95739

             room_type  price  minimum_nights  number_of_reviews last_review  \
16776  Entire home/apt    143              31                  3  2018-07-21
15285  Entire home/apt    143               2                 32  2019-04-22
15774  Entire home/apt    143               1                  1  2016-05-13
37425  Entire home/apt    143               5                  2  2019-05-21
41791  Entire home/apt    143               2                 22  2019-06-18
...                ...    ...             ...                ...         ...
30268  Entire home/apt   8500              30                  2  2018-09-18
12342     Private room   9999              99                  6  2016-01-01
6530   Entire home/apt   9999               5                  1  2015-01-02
9151      Private room  10000             100                  2  2016-02-13
17692  Entire home/apt  10000               5                  5  2017-07-27

       reviews_per_month  calculated_host_listings_count  availability_365
16776               0.08                               1                 0
15285               0.81                               1                 0
15774               0.03                               1                 0
37425               0.24                               1                 9
41791               5.00                               1                81
...                  ...                             ...               ...
30268               0.18                               1               251
12342               0.14                               1                83
6530                0.02                               1                 0
9151                0.04                               1                 0
17692               0.16                               1                 0

[13372 rows x 15 columns]

E) Only show listings that have more than the average reviews and that are available for more than 10 nights (column "minimum_nights"). Sort the dataframe by reviews in a descending order.

In [135]:
avg = df["number_of_reviews"].mean()
rank = (df["number_of_reviews"] > avg)
list1 = df[rank]
available = list1["minimum_nights"] > 10
list2= list1[available]
print(list2.sort_values("number_of_reviews", ascending=False))

            id                                       listing_name  \
113      26785                       Park Slope Green Guest House
3605   2154075  Brooklyn Charm, Close to Manhattan (30+ Days O...
1242    531091               King size bedroom in 2 bed apartment
7984   6141401                                Large Alcove Studio
6375   4644632   Brooklyn Life, Easy to Manhattan (30+ Days only)
...        ...                                                ...
2095    949713  Luxury Duplex Loft w. Private Roof & Amazing V...
496     174966              Luxury 2Bed/2.5Bath Central Park View
296      68735                 Prewar Penthouse w Private Terrace
10746  8270710                  Gorgeous sunny apt steps to park!
188      47362                   LARGE, COMFY 1BDR W/CHARACTER!!!

            host_name neighbourhood_group       neighbourhood  latitude  \
113              Dani            Brooklyn         South Slope  40.66853
3605             Joni            Brooklyn  Bedford-Stuyvesant  40.68640
1242           Dragan              Queens             Astoria  40.75532
7984              Jon           Manhattan            Kips Bay  40.74257
6375             Joni            Brooklyn  Bedford-Stuyvesant  40.68797
...               ...                 ...                 ...       ...
2095              Tal            Brooklyn             Gowanus  40.67450
496             Henry           Manhattan     Upper West Side  40.77350
296          Violetta           Manhattan     Upper West Side  40.78971
10746  Eric And Aoife            Brooklyn     Windsor Terrace  40.65106
188            Robert            Brooklyn  Bedford-Stuyvesant  40.68237

       longitude        room_type  price  minimum_nights  number_of_reviews  \
113    -73.98912  Entire home/apt    120              30                467
3605   -73.94529  Entire home/apt    112             200                314
1242   -73.91603     Private room    109              30                304
7984   -73.98207  Entire home/apt    225              30                276
6375   -73.94696  Entire home/apt    130             200                271
...          ...              ...    ...             ...                ...
2095   -73.99582  Entire home/apt    400              30                 30
496    -73.98697  Entire home/apt   2000              30                 30
296    -73.97290  Entire home/apt    195              11                 30
10746  -73.97704  Entire home/apt     99              20                 30
188    -73.94150  Entire home/apt    175              26                 30

      last_review  reviews_per_month  calculated_host_listings_count  \
113    2018-12-30               4.22                               2
3605   2019-06-20               4.82                               2
1242   2019-06-19               3.70                               1
7984   2019-06-21               5.54                               1
6375   2019-07-03               4.84                               2
...           ...                ...                             ...
2095   2019-06-01               0.39                               1
496    2018-05-05               0.33                              11
296    2019-06-13               0.32                               1
10746  2017-06-11               0.65                               2
188    2012-09-03               0.29                               1

       availability_365
113                 192
3605                 42
1242                  0
7984                338
6375                 64
...                 ...
2095                 67
496                   0
296                 249
10746                65
188                 364

[469 rows x 15 columns]

F) Display the number of listings per neighbourhood and only display those neighbourhoods with more than 1000 listings.

In [136]:
group_list = df.groupby("neighbourhood").size()
print(group_list[group_list > 2000])

neighbourhood
Bedford-Stuyvesant    3141
Bushwick              1942
Crown Heights         1265
East Village          1489
Harlem                2204
Hell's Kitchen        1528
Upper East Side       1405
Upper West Side       1482
Williamsburg          3163
dtype: int64

G) Display the number of the different types of rooms (column "room_type") per neighbourhood.

H) Replace the values within "room_type" with numerical values, i.e. 0 for "private room", 1 for "Entire home/apt", and 2 for "Shared room". </p>
Save the new dataframe again under the name "df".

I) Display a bar chart using the distplot (from the seaborn library) that shows the neighbourhood on the x-axis and the number of listings on the y-axis.

J) Scale the column "price" and the column "number_of_reviews" using a method that seems appropriate in your opinion. </p>
Save the new dataframe again under the name "df".

<h2>3. Cleaning Data</h2>

Dataset used: "defaults.xls"

In [3]:
# Place all packages you need here

A) Load the dataset "defaults.xls" and save it under the name "defaults". Display the datatypes of all columns of the dataset "defaults.xls".

B) Some column(s) might not be needed. Get rid of them. Explain why you get rid of the respective column(s). </p>
Save the new dataframe again under the name "defaults".

C) Convert all categorical values into dummy variables. Only include columns with valuable information. </p>
Save the new dataframe again under the name "defaults".

D) In order to run a model, we have to define now the X and y variables. Set the y values to the "default" (either 0 or 1). The remaining columns represent the X values.

<h2>4. Further Data Analysis</h2>

A) Please evaluate the importance of each feature of the X values on the y value of the previous exercise using any tree ensamble algorithm and display the results graphically. Please comment your findings. Please tell us what you did and why you did it.

B) Please assess how accuarely we can predict, whether a customer will default or not using Support Vector Machines. As always plase explain your work.

C) Now let's see how accurate the XGBoost algorithm can predict, whether a customer will default or not better than the previous SVM. Please give us the accuracy score and standard deviation. Choose an appropiate model for testing and training.